<!DOCTYPE html>
<html>
    <head>
        <title>Solar system</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/layout.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Welcome to this website!</h1>
            </header>
            <main>
                <div id="work">
                    <div id="controls">
                        <button id="close-btn">close</button>
                    </div>
                    <div id="anim">

                    </div>
                </div>
            </main>
            <footer>
                <h1>Have a nice day!</h1>
            </footer>
        </div>
        <div class="stripe"></div>
        <div class="container-right">
            <nav>
                <ul>
                    <li><a title="Main" href="{{ url_for('send_page') }}">Main page</a></li>
                </ul>
            </nav>
            <aside>
                <button id="play-btn">play</button>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, debitis dignissimos repudiandae consequuntur quae voluptatum mollitia incidunt facilis doloribus nesciunt atque cupiditate perferendis recusandae eligendi doloremque error illum, in minus?</p>
                <ol>
                    <li>Stuff</li>
                    <li>Stuff</li>
                    <li>Stuff</li>
                    <li>Stuff</li>
                    <li>Stuff</li>
                </ol>
            </aside>
        </div>

        
    </body>
    <script src="static/js/send_data.js"></script>
</html>