<!DOCTYPE html>
<html>
    <head>
        <title>Solar system</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/layout.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Welcome to this website!</h1>
            </header>
            <main>
                <div id="work">
                    <div id="controls">
                        <button id="close-btn" onclick="CloseButtonClick()">close</button>
                        <button id="start-btn" onclick="StartButtonClick()">start</button>
                        <button id="reload-btn" onclick="ReloadButtonClick()" style="display: none;">reload</button>
                    </div>
                    <div id="anim">
                        <div id="square"></div>
                    </div>
                </div>
            </main>
            <footer>
                <h1>Have a nice day!</h1>
            </footer>
        </div>
        <div class="stripe"></div>
        <div class="container-right">
            <nav>
                <ul>
                    <li><a title="Main" href="{{ url_for('send_page') }}">Main page</a></li>
                </ul>
            </nav>
            <aside>
                <button id="play-btn" onclick="PlayButtonClick()">play</button>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, debitis dignissimos repudiandae consequuntur quae voluptatum mollitia incidunt facilis doloribus nesciunt atque cupiditate perferendis recusandae eligendi doloremque error illum, in minus?</p>
                <ol>
                    <li>Stuff</li>
                    <li>Stuff</li>
                    <li>Stuff</li>
                    <li>Stuff</li>
                    <li>Stuff</li>
                </ol>
            </aside>
        </div>

        
    </body>
    <script src="static/js/script.js"></script>
</html>